* {
  margin: 0;
  box-sizing: border-box;
}
.body {
  font-size: 19px;
  margin:0;
  width: 100%;
  height: 100%;
   } 
a { 
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
   /* Для больших устройств (ноуты, пк) */
@media (min-width: 760px) {
  html {
    font-size: 85%;
  }
  .txt2 {
    font-family: 'Poppins', sans-serif;
    text-align: center; /* Выравнивание по центру */ 
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 5em; /* Отступ снизу */
    color:rgb(35, 33, 33);
    padding: 4px;
    display: block;
    line-height:18px;   
    overflow: hidden;
    margin: 1em auto;
    width: 1300px;
    font-size: 110%;
          } 
  }
@media screen and (min-width:240px) and (max-width:680px) {
  html {
    font-size: 100%;
    }
  .ff {
    font-size: 60%;
  }
  .txt2 {
    font-family: 'Poppins', sans-serif;
    text-align: center; /* Выравнивание по центру */ 
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 5em; /* Отступ снизу */
    color:rgb(35, 33, 33);
    padding: 4px;
          } 
  }
.txt1 {
  font-family: 'Merriweather', sans-serif;
  text-align: center; /* Выравнивание по центру */ 
  margin-top: 1.5em; /* Отступ сверху */
  margin-bottom: 1em; /* Отступ снизу */
     }    
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  font-weight: 400;
  margin: 0;
  text-align: center;
  line-height: 150%;
       }     
.line1 {
  border: none; /* Убираем границу */
  background-color: rgb(175, 69, 119); /* Цвет линии */
  color: rgb(206, 208, 222); /* Цвет линии для IE6-7 */
  height: 4px; /* Толщина линии */
  width: 100px;
  text-align: center;
  align: center;
  position: relative;
  width: 20%; 
  margin: 0 40% 0 40%;
}
.line2 {
  border: none; /* Убираем границу */
  background-color: rgb(48, 60, 184); /* Цвет линии */
  color: rgb(206, 208, 222); /* Цвет линии для IE6-7 */
  height: 4px; /* Толщина линии */
  width: 100px;
  text-align: center;
  align: center;
  position: relative;
  width: 20%; 
  margin: 0 40% 0 40%;
}
.line3 {
  border: none; /* Убираем границу */
  background-color: rgb(61, 255, 64); /* Цвет линии */
  color: rgb(206, 208, 222); /* Цвет линии для IE6-7 */
  height: 4px; /* Толщина линии */
  width: 100px;
  text-align: center;
  align: center;
  position: relative;
  width: 20%; 
  margin: 0 40% 0 40%;
}       
